.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p
      a(href='http://lizmrush.com') made by liz!

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')

block footer
